@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Student Management System</h1>
    <p>
        A Student Management System (SMS) is a web-based application designed to help 
        educational institutions efficiently manage student-related data and administrative 
        tasks. It centralizes information about students and streamlines operations such as 
        enrollment, attendance, grades, fees, and communication.
    </p>

</div>
